<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.flowenect.hr.organizetionchart.mapper.OrganizationChartMapper">
		<select id="selectDeptChartList" resultType="map">
	    SELECT 
	        D.DEPT_CD,               
	        D.UP_DEPT_CD,           
	        D.DEPT_NM,               
	        D.DEPT_HEAD_EMP_NO, 
	        E.EMP_NM AS DEPT_HEAD_NM, 
	        D.DEPT_TEL,             
	        D.DEPT_LOC               
	    FROM DEPT D
		    LEFT OUTER JOIN EMP E ON D.DEPT_HEAD_EMP_NO = E.EMP_NO
		    WHERE D.DEL_YN = 'N'
	    ORDER BY D.DEPT_CD ASC
	</select>
</mapper>